<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>본인의 인스타그램 정보입력</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function ConnectForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('인스타그램 아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('인스타그램 아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            const $checkedGenderRadioButton = $(form).find("[name=gender]:checked");

            if ($checkedGenderRadioButton.length == 0) {
                toastWarning('성별을 선택해주세요.');
                $(form).find("[name=gender]:first").focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col">
            <div class="text-center mb-5">
                <h1 class="text-5xl my-2 font-bold">마이 인스타그램</h1>
                <h1 class="text-5xl my-2 font-bold">계정 등록</h1>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <form th:action method="POST" class="mb-0" onsubmit="ConnectForm__submit(this); return false;">
                        <div class="form-control">
                            <input type="text" name="username" autocomplete="off" maxlength="30" placeholder="인스타그램 계정"
                                   class="input input-bordered">
                        </div>
                        <div class="mt-5" >
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">남자</span>
                                    <input type="radio" name="gender" value="M" class="radio focus:bg-red-100">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">여자</span>
                                    <input type="radio" name="gender" value="W" class="radio focus:bg-red-100">
                                </label>
                            </div>
                        </div>
                        <div class="flex justify-end mt-5">
                            <input type="submit" value="등록" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</main>
</body>

</html>

