spring:
  config:
    import:
      - classpath:/application-config.yml
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  profiles:
    active: dev
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://127.0.0.1:3306/gram__dev?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul
    username: root
    password:
  security:
    oauth2:
      client:
        registration:
          kakao:
            clientId: ${kakao-client-id}
            scope:
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: POST
          google:
            clientId: ${google-client-id}
            clientSecret: ${google-client-secret}
            client-name: Google
            scope: profile,email
            redirect-uri: http://localhost:8080/login/oauth2/code/google
          naver:
            clientId: ${naver-client-id}
            clientSecret: ${naver-client-secret}
            client-name: Naver
            scope: profile,email
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
            ### 스프링시큐리티에서는 CommonOAuth2Provider클래스 안에 google, github 등의 플랫폼에 대한 provider 정보가 미리 정의가 되어있어 카카오나 네이버와 다르게 provider를 적어주지 않아도 됨 ###
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
logging:
  level:
    root: INFO
    com.ll.gramgram_ai: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
