<html layout:decorate="~{/usr/layout/layout.html}">

<head>
    <title>호감 목록</title>
</head>

<body>

<main layout:fragment="main">


    <div class="flex flex-col">
        <div class="hero-content flex-col">
            <div class="text-center my-5">
                <h1 class="text-5xl my-2 font-bold">호감 목록</h1>
            </div>
            <div class="max-w-2xl w-full px-4">
                <div th:unless="${@rq.member.hasConnectedInstaMember}" th:include="/usr/part/needToConnect::base"></div>

                <th:block th:if="${@rq.member.hasConnectedInstaMember}">

                    <div th:unless="${!#lists.isEmpty(likeablePeople)}" class="text-center">
                        <div>
                            <i class="fa-regular fa-face-laugh"></i> 목록이 비어있습니다.
                            <p>당신의 호감을 표시해주세요.</p>
                            <a href="/usr/likeablePerson/like" class="btn btn-primary mt-5">호감 표시하러 가기</a>
                        </div>
                    </div>

                    <ul class="flex flex-col gap-4">
                        <li th:each="likeablePerson: ${likeablePeople}">
                            <div class="card bg-base-100 shadow-xl">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                        <span th:data-test="|toInstaMember_username=${likeablePerson.toInstaMember.username}|"
                                              th:text="${likeablePerson.toInstaMember.username}"></span>
                                    </h2>
                                    <a th:href="|https://instagram.com/${likeablePerson.toInstaMember.username}|"
                                       target="_blank" class="block text-sm break-all text-blue-400 underline">
                                        <span>https://instagram.com/</span><span class="text-red-400"
                                                                                 th:text="${likeablePerson.toInstaMember.username}"></span>
                                    </a>

                                    <div class="mt-4">
                                        <div class="badge badge-primary -ml-2">호감사유</div>
                                        <div class="mt-1"
                                             th:data-test="|toInstaMember_attractiveTypeDisplayName=${likeablePerson.attractiveTypeDisplayName}|"
                                             th:utext="${likeablePerson.attractiveTypeDisplayNameWithIcon}"></div>
                                    </div>

                                    <div class="card-actions justify-end">
                                        <a th:href="@{|modify/${likeablePerson.id}|}" class="btn btn-sm btn-outline">
                                            호감사유 변경</a>

                                        <a class="btn btn-sm btn-outline" href="javascript:;"
                                           onclick="if ( confirm('정말로 취소하시겠습니까?') ) $(this).next().submit();">
                                            호감취소</a>
                                        <form hidden th:action="@{|/usr/likeablePerson/${likeablePerson.id}|}"
                                              method="POST">
                                            <input type="hidden" name="_method" value="delete">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
</main>

</body>

</html>

