<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>당신이 좋아하는 사람들</title>
</head>

<body>

<main layout:fragment="main">
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col">
            <div class="text-center mb-5">
                <h1 class="text-5xl my-2 font-bold">호감 상대 목록</h1>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
                        <div class="flex flex-col gap-4">
                            <div>먼저 나의 인스타그램 계정을 등록해주세요.</div>
                            <a href="/instaMember/connect" class="btn btn-primary">인스타 등록하러 가기</a>
                        </div>
                    </th:block>

                    <th:block th:if="${@rq.member.hasConnectedInstaMember}">
                        <ul class="flex flex-col content-center gap-4">
                            <li th:each="likeablePerson: ${likeablePeople}"  class="flex justify-between">
                                <span class="toInstaMember_username badge badge-primary badge-lg" th:text="|@${likeablePerson.toInstaMember.username}|"></span>
                                <span class="toInstaMember_attractiveTypeDisplayName badge badge-outline badge-lg"
                                      th:text="${likeablePerson.attractiveTypeDisplayName}"></span>
                                <a th:href="@{|delete/${likeablePerson.id}|}" onclick="return confirm('정말로 삭제하시겠습니까?');" class="badge badge-accent badge-lg">삭제</a>
                            </li>
                        </ul>
                    </th:block>

                </div>
            </div>
        </div>
    </div>




</main>
</body>

</html>

