<html layout:decorate="~{/usr/layout/layout.html}">

<head>
    <title>호감 사유 변경</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">

    <script th:inline="javascript">
        const myInstaMemberUsername = /*[[ ${@rq.member.instaMember.username} ]]*/ null;

        function ModifyLikeForm__submit(form) {
            form.submit(); // 폼 발송
        }
    </script>

    <div class="hero-content flex-col">
        <div class="text-center mb-5">
            <h1 class="text-4xl my-2 font-bold">호감 사유 변경</h1>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">

                <div class="max-w-2xl w-full px-4">


                    <form class="flex flex-col gap-6" method="POST" th:action
                          onsubmit="ModifyLikeForm__submit(this); return false;">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">나의 인스타 계정</span>
                            </label>
                            <h2 class="card-title">
                                <span><i class="fa-brands fa-instagram"></i></span>
                                <span th:text="${likeablePerson.fromInstaMember.username}"></span>
                            </h2>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">상대의 인스타 계정</span>
                            </label>
                            <h2 class="card-title">
                                <span><i class="fa-brands fa-instagram"></i></span>
                                <div th:text="${likeablePerson.toInstaMember.username}"></div>
                            </h2>
                            <a th:href="@{|https://instagram.com/${likeablePerson.toInstaMember.username}|}"
                               target="_blank"
                               class="block mt-3 text-sm break-all underline text-blue-400">
                                <span>https://instagram.com/</span><span
                                    th:text="${likeablePerson.toInstaMember.username}"
                                    class="text-red-300"></span>
                            </a>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">호감사유</span>
                            </label>

                            <!-- 라벨을 클릭하면 라벨의 하위요소인 버튼(체크,라디오,일반 등)이 클릭되는 효과) -->
                            <div class="flex flex-col justify-center gap-4">
                                <label class="flex gap-2 items-center cursor-pointer">
                                    <input type="radio" name="attractiveTypeCode" value="1" class="radio peer">
                                    <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-person-rays"></i>
                                외모
                            </span>
                                </label>

                                <label class="flex gap-2 items-center cursor-pointer">
                                    <input type="radio" name="attractiveTypeCode" value="2" class="radio peer">
                                    <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-regular fa-face-smile"></i>
                                성격
                            </span>
                                </label>

                                <label class="flex gap-2 items-center cursor-pointer">
                                    <input type="radio" name="attractiveTypeCode" value="3" class="radio peer">
                                    <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-people-roof"></i>
                                능력
                            </span>
                                </label>

                                <script th:inline="javascript">
                                    // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
                                    const inputValue__attractiveTypeCode = /*[[ ${likeablePerson.attractiveTypeCode} ]]*/ null;
                                    $(`input[name=attractiveTypeCode][value=${inputValue__attractiveTypeCode}]:last`).prop('checked', true);
                                </script>
                            </div>

                        </div>

                        <button id="btn-modify-like-1" class="btn btn-block btn-primary gap-1">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>호감 사유 변경</span>
                        </button>
                    </form>

                    <div class="text-center mt-4">
                        <a th:if="${@rq.member.hasConnectedInstaMember}" href="/usr/likeablePerson/like" class="btn btn-link">호감 표시</a>
                        <a th:if="${@rq.member.hasConnectedInstaMember}" href="/usr/likeablePerson/list" class="btn btn-link">호감 목록</a>
                        <a th:if="${@rq.member.hasConnectedInstaMember}" href="/usr/member/me" class="btn btn-link">내 정보</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>