<html layout:decorate="~{common/layout.html}">

<body>

<!-- 공통 상단 -->
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-primary text-primary-content">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li th:if="${@rq.login}" class="flex justify-start">
                        <a href="/usr/member/me"><i class="fa-solid fa-user"></i> 내 정보</a>
                        <a href="/usr/member/pop"><i class="fa-solid fa-chart-line"></i> 내 인기</a>
                        <a href="/usr/likeablePerson/toList"><i class="fa-solid fa-heart"></i> 내가 받은 호감</a>
                        <a class="divider"></a>
                        <a href="/usr/instaMember/connect"><i class="fa-brands fa-instagram"></i> 인스타 등록</a>
                        <a href="/usr/likeablePerson/like"><i class="fa-solid fa-heart-circle-plus"></i> 호감 표시</a>
                        <a href="/usr/likeablePerson/list"><i class="fa-solid fa-list-ol"></i>호감 목록</a>
                        <a href="javascript:;" onclick="$(this).next().submit();"><i
                                class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃</a>
                        <form class="!hidden" th:action="|/usr/member/logout|" method="POST"></form>
                    </li>
                    <li th:if="${@rq.logout}">
                        <a href="/usr/member/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> 시작하기</a>
                    </li>
                    </li>
                    <li th:if="${@rq.admin}"><a href="/adm/home/main"><i class="fa-solid fa-gauge"></i> 관리자 페이지</a>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a href="/" class="btn btn-ghost normal-case text-xl">
               <span class="hidden min-[341px]:inline">
                    gram <i class="fa-solid fa-heart text-red-300"></i> gram
                </span>
                <span class="min-[341px]:hidden">gg</span>
            </a>
        </div>
        <div class="navbar-end">
            <a href="/usr/member/pop" class="btn btn-ghost gap-1" th:if="${@rq.login}">
                <i class="fa-solid fa-chart-line"></i>
            </a>
            <a href="/usr/notification/list" class="btn btn-ghost btn-circle" th:if="${@rq.login}">
                <div class="indicator">
                    <i class="fa-regular fa-bell"></i>
                    <span th:if="${@rq.login}" class="badge badge-xs badge-primary indicator-item"></span>
                </div>
            </a>
        </div>
    </div>
</header>

</body>

</html>


