<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function JoinForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('계정을 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('계정을 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="hero-content flex-col">
        <div class="text-center">
            <h2 class="text-4xl mt-5 mx-5 font-bold">그램그램 회원가입</h2>
            <p class="py-6 mx-5">회원가입하고 그램그램 서비스를 이용해보세요</p>
        </div>
        <th:block th:if="false">
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <form th:action method="POST" onsubmit="JoinForm__submit(this); return false;">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">ID</span>
                            </label>
                            <input type="text" name="username" maxlength="30" placeholder="계정"
                                   class="input input-bordered">
                        </div>
                        <div class="form-control mt-3">
                            <label class="label">
                                <span class="label-text">Password</span>
                            </label>
                            <input type="password" name="password" maxlength="30" placeholder="비밀번호"
                                   class="input input-bordered">
                        </div>
                        <div class="form-control mt-8 gap-4">
                            <input type="submit" value="회원가입" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
</main>

</body>

</html>

