<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title th:text="#{c.pageNameStart}"></title>
</head>

<body>

<main layout:fragment="main">
    <div class="hidden" id="msg-loginFormNeedInputUsername" th:text="#{c.loginFormNeedInputUsername}"></div>
    <div class="hidden" id="msg-loginFormNeedInputUsernameMoreThan"
         th:text="${@rq.getCText('c.loginFormNeedInputUsernameMoreThan', loginFormInputUsernameValueMinLength)}"></div>
    <div class="hidden" id="msg-loginFormNeedInputPassword" th:text="#{c.loginFormNeedInputPassword}"></div>
    <div class="hidden" id="msg-loginFormNeedInputPasswordMoreThan"
         th:text="#{c.loginFormNeedInputPasswordMoreThan(${loginFormInputPasswordValueMinLength})}"></div>

    <script>
        const loginFormInputUsernameValueMinLength = 4;
        const loginFormInputPasswordValueMinLength = 4;

        function LoginForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning($("#msg-loginFormNeedInputUsername").text());
                form.username.focus();
                return;
            }

            if (form.username.value.length < loginFormInputUsernameValueMinLength) {
                toastWarning($("#msg-loginFormNeedInputUsernameMoreThan").text());
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning($("#msg-loginFormNeedInputPassword").text());
                return;
            }

            if (form.password.value.length < loginFormInputPasswordValueMinLength) {
                toastWarning($("#msg-loginFormNeedInputPasswordMoreThan").text());
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>


    <div class="hero-content flex-col">
        <div class="text-center">
            <h2 class="text-4xl my-5 mx-5 font-bold flex flex-col gap-3">
                <span th:text="#{c.logoTextWithEmojiEn}"></span>
                <span th:text="#{c.pageNameStart}"></span>
            </h2>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <form th:action method="POST" class="flex flex-col gap-6 m-1"
                      onsubmit="LoginForm__submit(this); return false;">
                    <th:block th:if="${@rq.refererAdminPage or param.admin != null}">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">
                                    <span th:text="#{c.loginFormUsername}"></span>
                                </span>
                            </label>
                            <input type="text" name="username" maxlength="30" th:placeholder="#{c.loginFormUsername}"
                                   class="input input-bordered" autofocus/>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">
                                    <span th:text="#{c.loginFormPassword}"></span>
                                </span>
                            </label>
                            <input type="password" name="password" maxlength="30"
                                   th:placeholder="#{c.loginFormPassword}"
                                   class="input input-bordered"/>
                        </div>
                        <div class="form-control gap-4">
                            <input type="submit" th:value="#{c.pageNameStart}" class="btn btn-primary">
                            <div class="divider"></div>
                        </div>
                    </th:block>

                    <a class="btn btn-outline btn-warning flex gap-2" href="/oauth2/authorization/kakao">
                        <i class="fa-solid fa-comment"></i>
                        <span class="normal-case" th:text="#{c.startWithKakao}"></span>
                    </a>

                    <a class="btn btn-outline btn-error flex gap-2" href="/oauth2/authorization/google">
                        <i class="fa-brands fa-google"></i>
                        <span class="normal-case" th:text="#{c.startWithGoogle}"></span>
                    </a>

                    <a class="btn btn-outline btn-success flex gap-2" href="/oauth2/authorization/naver">
                        <i class="fa-solid fa-n"></i>
                        <span class="normal-case" th:text="#{c.startWithNaver}"></span>
                    </a>

                    <a class="btn btn-outline btn-info flex gap-2" href="/oauth2/authorization/facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <span class="normal-case" th:text="#{c.startWithFacebook}"></span>
                    </a>

                </form>
            </div>
        </div>
    </div>
</main>
</body>

</html>

