<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function LoginForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h2 class="text-5xl mb-5 mx-5 font-bold">그램그램 로그인</h2>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <form th:action method="POST" onsubmit="LoginForm__submit(this); return false;">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">ID</span>
                            </label>
                            <input type="text" name="username" maxlength="30" placeholder="아이디" class="input input-bordered">
                        </div>
                        <div class="form-control mt-3">
                            <label class="label">
                                <span class="label-text">Password</span>
                            </label>
                            <input type="password" name="password" maxlength="30" placeholder="비밀번호" class="input input-bordered">
                        </div>
                        <div class="form-control mt-8 gap-4">
                            <input type="submit" value="로그인" class="btn btn-primary">
                            <div class="divider"></div>
                            <a class="btn btn-outline btn-warning" href="/oauth2/authorization/kakao">
                                카카오 로그인
                            </a>

                            <a class="btn btn-outline btn-error" href="/oauth2/authorization/google">
                                구글 로그인
                            </a>

                            <a class="btn btn-outline btn-success" href="/oauth2/authorization/naver">
                                네이버 로그인(연결 전)
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>

